@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

body {
    background: #20232A;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

.container-fluid {
    margin: 2% 5%;
}

#navbar {
    background: #141518;
    color: #fff;
}

#navbar .logo {
    margin: 10px 0;
}

/* Dummy Footer */
#dummy-footer {
    margin-top: 50px;
    background: #141518;
    color: #fff;
    height: 60px;
}
/* Dummy Footer */

/* Helper Class */

.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nopadding {
    padding: 0;
}
/* Helper Class */