@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

body {
    background: #20232A;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.container-fluid {
    margin: 2% 5%;
}

/* Helper Class */
.row-eq-height {
    display: flex;
    flex-flow: row wrap;
}
/* Helper Class */