#playlist .podcast_info {
    font-size: 0.9em;
}

#playlist .podcast_info h4 {
    margin-top: 0;
}

#playlist .btn-playlist {
    background: #fff;
    color: #141518;
    border-radius: 3px;
}

#playlist-items {
    clear: both;
    margin-top: 50px;
}

#playlist-items .title {
    font-size: 1em;
    font-weight: 500;
}

#playlist-items .desc {
    font-size: 0.9em;
}

#playlist-items .play-button {
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

#playlist-items [class^="episode-"] {
    border-bottom: 1px solid #36373A;
  }

  #playlist-items [class^="episode-"]:hover {
    background: #36373A;
    cursor: pointer;
  }