/* Podcast Reccomendation */

#podcast .channel .overlay img {
    width: 1400px;
}

#podcast .info h6 {
    margin-bottom: 7px;
    font-size: 1em;
}

#podcast .info p {
    font-size: 0.9em;
}

#podcast .info {
    color: #ffffff;
    cursor: pointer;
    display: block;
}

#podcast .info:hover {
    color: #E6C515;
    text-decoration: none;
}

#podcast .info:active, #podcast .info:visited {
    text-decoration: none;
}

#podcast figcaption {
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#podcast figcaption .play-button {
    width: 60%;
    height: 60%;
    cursor: pointer;
}

/* Podcast Reccomendation */

/* Owl Carousel */
#podcast .owl-prev, #podcast .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block !important;
    border:0px solid black;
}
#podcast .owl-prev { 
    left: -37px; 
}

#podcast .owl-next { 
    right: -37px; 
}

#podcast .owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #E6C515;
    text-decoration: none;
    cursor: pointer;
}

#podcast .owl-next i, #podcast .owl-prev i {
    font-size: 3.5em;
}

#podcast .owl-next:focus, #podcast .owl-prev:focus {
    outline: none;
}

/* Owl Carousel */

#podcast hr {
    border-top: 1px solid #555;
}

/* Podcast Categories */
#podcast > #categories .item {
    margin-bottom: 15px;
}

#podcast > #categories .item > .menu {
    color: #ffffff;
    font-size: 1em;
    text-decoration: none;
    background-color: #31343D;
    background-image: url('../images/icons/arrow.png');
    background-position: center right;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    padding: 5px 10px;
    border-radius: 3px;
    align-items: center; /* Vertical center alignment */
}

#podcast > #categories .item > .menu:hover {
    background-color: #E6C515;
    background-image: url('../images/icons/arrow-black.png');
    background-position: center right;
    background-repeat: no-repeat;
    color: #20232A;
    transition: 0.5s;
}

#podcast > #categories .item > .menu > .icon {
    margin-right: 10px;
}
/* Podcast Categories */

/* Podcast Category Page */

#podcast_category .subcategory_title {
    text-transform:capitalize;
    font-size: 1.5em;
    margin-bottom: 20px;
}

#podcast .category_back {
    color: #fff;
}

/* Podcast Category Page */